
/* Bootstrap Addons {BS} */
.font-opensans { 
	font-family: 'Open Sans', sans-serif;
}
.text-dark {
    color: #363635;
}
.text-very-dark {
    color: #111;
}
.text-black {
    color: #000;
}
.text-light {
    color: #ececec;
}
.text-very-light {
    color: #c2c2c2;
}
.text-white {
    color: #fff;
}
.bg-dark {
    background: #363635;
}
.bg-light {
    background: #ececec;
}
.line {
    width: 100%;
}
.line.line-thin {
    height: 1px;
}
.line.line-thick {
    height: 3px;
}
.text-shadow-dark {
    text-shadow: 1px 1px #444;
}
.text-shadow-light {
    text-shadow: 1px 1px #999;
}
.text-caption-small {
    font-size: 1.5em;
    padding-top: 8px;
}
.hidden {
    display: none;
}
.text-large {
	font-size: 48px;
}
.text-medium-large {
	font-size: 36px;
}
.text-medium {
	font-size: 26px;
}

@media (max-width: 768px) {
    .text-large {
        font-size: 24px;
    }
    .text-medium-large {
        font-size: 18px;
    }
    .text-medium {
        font-size: 16px;
    }
}






.features {
	margin: 0px;
	width: 100%;
	padding: 0px;
    position: relative;
}

.features .feature {
	height: 400px;
	overflow: hidden;
	padding: 0px;
    overlay: none;
}

.features .feature img {
	position: absolute;
    display: block;
    min-height:400px;
    width: 100%;
    height: auto;
    overflow: auto;
}

.features .feature .caption {
	padding: 10px;
	background-color: rgba(255,255,255,0.6);
	color: #000;
	font-size: 32px;
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	width: 100%;
	z-index: 110;
}

.features .feature .caption a:hover { color: #000; }
.features .feature .caption a:active { color: #000; }
.features .feature .caption a:link { color: #000; }
.features .feature .caption a:visited { color: #000; }

.features .feature .caption .description {
	font-size: 18px;
}

.features .feature .description-hover {
	display: none;
	background-color: rgba(0,0,0,0.6);
	z-index: 100;
	color: #FFF;
	position: absolute;
	width: 100%;
	padding: 20px;
	height: 100%;
	padding-top: 80px;
}

.features .feature:hover .description-hover {
	display: block;
}

.carousel-caption {
	bottom: none !important;
	top: 20px !important;
    padding-bottom: 0px;
}



.category {
    position: relative;
    display: inline-block;
    height: 20%;
    padding: 0px;
    margin: 0;
    background: #CCC;
    width: 100%;
}

.category img {
    position: absolute;
    display: block;
    min-height:100%;
    width: 100%;
    height: auto;
    overflow: auto;
}

.category .caption {
    padding: 10px;
    background-color: rgba(255,255,255,0.6);
    color: #000;
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    width: 100%;
    z-index: 110;
}

.category .caption a:hover { color: #000; }
.category .caption a:active { color: #000; }
.category .caption a:link { color: #000; }
.category .caption a:visited { color: #000; }


